.admin-naciones {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
  .spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}
