@import '../../../../variables.scss';

.admin-naciones-nav {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex: 0 0 12rem;
  min-height: 100vh;
  padding: 1rem;
  .admin-naciones-nav__card {
    background-color: $bluishBlack;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: #666;
      border-bottom: 1px solid $boxShadowGrey;
    }
  }
}
